
//page scroll bar add
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

.video-pulse::after,
.video-pulse::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  border: 1px solid $theme-color;
  opacity: 0.7;
  left: -20%;
  top: -27%;
  border-radius: 50%;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: video-animation;
  animation-name: video-animation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.video-pulse::before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

// //Basic Code Start
// .fix {
//   overflow: hidden;
// }

// .ralt{
//  position: relative;
// }

// //Basic Code End


// br {
//   @include breakpoint(max-md){
//     display: none;
//   }
// }

// /* background */
// .bg-cover {
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   background-position: center;
// }
// //>>>>> Nice Select Css End <<<<<//


// .slide-transtion {
// 	-webkit-transition-timing-function: linear;
// 	transition-timing-function: linear;
// }
// .slide-element {
// 	width: auto;
// 	display: inline-block;
// }



// //single-checkbox
// .single-checkbox {
// 	position: relative;
//     display: flex;
// 	input {
// 		display: none;
// 	}
// 	span {
// 		font-weight: 450;
// 		color: #232323;
//         text-transform: capitalize;
//         margin-top: -7px;      
// 		&:before {
// 			content:'';
// 			-webkit-appearance: none;
// 			background-color: transparent;
// 			border: 1px solid  $theme-color;
// 			width: 16px;
// 			height: 16px;
// 			border-radius: 4px;
// 			display: inline-block;
// 			position: relative;
// 			vertical-align: middle;
// 			cursor: pointer;
// 			margin-right: 9px;
// 			margin-top: -1px;
// 		}
// 	}
// 	input:checked + span:after {
// 		content: '';
// 		display: block;
// 		position: absolute;
// 		top: 3px;
// 		left: 7px;
// 		width: 4px;
// 		height: 8px;
// 		border: solid #fff;
// 		border-width: 0 1px 1px 0;
// 		transform: rotate(45deg);
// 	}
//     input:checked + span:before {
//         background-color: $theme-color;
//     }
// }

// .p-0 {
// 	padding: 0 !important;
// }

// .single-radiobox {
//     position: relative;
//     [type="radio"]:checked,
//     [type="radio"]:not(:checked) {
//         position: absolute;
//         left: 0;
//         opacity: 0;
//         visibility: hidden;
//     }
//     [type="radio"]:checked + .box,
//     [type="radio"]:not(:checked) + .box {
//         position: relative;
//         padding-left: 28px;
//         cursor: pointer;
//         line-height: 20px;
//         display: inline-block;
//         color: #666;
//         z-index: 2;

// 		@include breakpoint (max-xxs){
// 			padding-left: 18px;
// 		}
//     }
//     [type="radio"]:checked + .box:before,
//     [type="radio"]:not(:checked) + .box:before {
// 		content: "";
// 		position: absolute;
// 		left: 1px;
// 		top: -13px;
// 		width: 18px;
// 		height: 18px;
// 		border: 1px solid #ddd;
// 		border-radius: 100%;
// 		background: #fff;
//     }
//     [type="radio"]:checked + .box:after,
//     [type="radio"]:not(:checked) + .box:after {
//         content: '';
//         width: 10px;
//         height: 10px;
//         background: $theme-color;
//         position: absolute;
//         top: -9px;
//         left: 5px;
//         border-radius: 100%;
//         -webkit-transition: all 0.2s ease;
//         transition: all 0.2s ease;
//     }
//     [type="radio"]:not(:checked) + .box:after {
//         opacity: 0;
//         -webkit-transform: scale(0);
//         transform: scale(0);
//     }
//     [type="radio"]:checked + .box:after {
//         opacity: 1;
//         -webkit-transform: scale(1);
//         transform: scale(1);
//     }
// }


// .search-switch-inner {
// 	display: inline-flex;
// 	align-items: center;
// 	.heading {
// 		font-size: 14px;
// 		font-weight: 700;
// 		color: $header-color;
// 		margin-left: 10px;
// 	}
// }
// //search-switch
// .search-switch {
// 	position: relative;
// 	display: inline-block;
// 	width: 55px;
// 	height: 28px;
// 	border-radius: 2px;
// 	background-color: #fff;
// 	cursor: pointer;
// 	transition: all .3s;
// 	overflow: hidden;
// 	box-shadow: 0px 0px 2px #686868;
// }
// .search-switch input {
// 	display: none;
// }
// .search-switch input:checked + span {
// 	left: calc(80px - 35px);
// }
// .search-switch span {
// 	position: absolute;
// 	width: 10px;
// 	height: 100%;
// 	border-radius: 2px 4px 4px 2px;
// 	background-color: #686868;
// 	top: 0;
// 	left: 0;
// 	box-shadow: 0px 0px 1px rgb(150,150,150);
// 	transition: all .3s;
// }
// .search-switch span:before, .search-switch span:after {
// 	position: absolute;
// 	content: 'ON';
// 	width: calc(80px - 40px);
// 	height: 28px;
// 	line-height: 28px;
// 	font-size: 14px;
// 	font-weight: 700;
// 	top: 0;
// 	text-transform: uppercase;
// }
// .search-switch span:before {
// 	content: 'OFF';
// 	color: #686868;
// 	left: 16px;
//     // @media #{$xs}{
//     //     left: 11px;
//     // }
// }
// .search-switch span:after {
// 	content: 'ON';
// 	right: 22%;
// 	color: white;
//     // @media #{$xs}{
//     //     right: 92%;
//     // }
// }
// .find-me-checked {
// 	background-color : $theme-color;
// 	box-shadow: none;
// }
// .find-me-checked span {
// 	border-radius: 4px 2px 2px 4px;
// 	background-color: #fff;
// }
// .gps-distanc-checked {
// 	background-color : $theme-color;
// 	box-shadow: none;
// }
// .gps-distanc-checked span {
// 	border-radius: 4px 2px 2px 4px;
// 	background-color: #fff;
// }
// .gps-distance-btn span:before {
// 	content: 'GPS';
// }
// .gps-distance-btn span:after {
// 	content: 'MON';
//     right: 67%;
//     // @media #{$xs}{
//     //     right: 92%;
//     // }
// }

// .btn-base {
//     color: #fff;
//     border: 0;
//     background: $theme-color;
// }

// .custom-container {
// 	max-width: 1630px;
// 	margin: 0 auto;
// }

// .custom-container-2 {
// 	max-width: 1720px;
// 	margin: 0 auto;
// }

// .footer-bg {
// 	background: #1B1D1C;
// }

// .btn-white {
//     background: #FFF;
//     box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.1);
//     color: $theme-color;
// }

// .modal-backdrop {

//     z-index: 1 !important;
// }

// .modal-common-wrap {
// 	position: fixed !important;
//     z-index: 9999;

// 	&.style-2 {
// 		position: relative;
// 		z-index: 999 !important;

// 		.modal-header {
// 			padding: 0;
// 			margin: 0;
// 			border: none;
// 			position: absolute;
// 			top: 10px;
// 			right: 10px;
// 			z-index: 99;
// 		}
// 		.modal-body {
//             padding: 40px;

// 			@include breakpoint (max-sm){
// 				padding: 30px 20px;
// 			}

// 			.search-switch-inner + .search-switch-inner {
// 				margin-left: 30px;
// 			}

// 			.banner-search {
// 				position: relative;

// 				.banner-form-box {
// 					position: relative;

// 					.icon {
// 						position: absolute;
// 						left: 20px;
// 						top: 50%;
// 						transform: translateY(-50%);
// 					}
// 				}

				
// 				input {
// 					width: 100%;
// 					height: 70px;
// 					padding: 0 100px 0 50px;
// 					border-radius: 10px;
// 					border: 0;
// 					text-transform: capitalize;
// 					box-shadow: 0px 4px 60px 20px rgba(0, 0, 0, 0.05);
// 					outline: 0;
// 					color: $text-color;

// 					@include breakpoint (max-sm){
// 						font-size: 13px;
// 						height: 65px;
// 					}
					
// 				}
// 				.theme-btn {
// 					position: absolute;
// 					right: 10px;
// 					top: 10px;
// 					cursor: pointer;

// 					@include breakpoint (max-sm){
// 						padding: 0 5px;
// 						font-size: 12px;
// 						height: 40px;
// 						line-height: 40px;
// 					}
// 				}
// 			}

// 			.switch-area {
// 				margin-top: 30px;
// 				display: none;
// 			}

// 			.banner-switch-card {
// 				border-radius: 10px;
// 				background: #FFF;
// 				box-shadow: 0px 4px 60px 0px rgba(182, 24, 23, 0.15);
// 				padding: 30px;
// 				position: absolute;
// 				margin-top: 5px;
// 				z-index: 3;
// 				width: 100%;
// 				left: 0;
				
// 				@include breakpoint (max-xxl){
// 					position: static;
// 				}
// 				.switch-title {
// 					font-size: 20px;
// 					font-weight: 750;
// 					margin-bottom: 10px;
// 				}
// 				.switch-content {
// 					font-weight: 350;
// 					padding: 0;
// 					margin: 0;
// 				}
// 			}
			
// 			.distance-calculate {
// 				display: flex;
// 				justify-content: space-between;
// 				border-top: 1px solid rgba(0, 0, 0, 0.20);
// 				padding-top: 18px;
// 				margin-top: 10px;
// 				@include breakpoint (max-md){
// 					display: grid;
// 					gap: 25px;
// 				}
// 				.distanc-input-inner {
// 					display: flex;
// 					align-items: center;
// 					// @media #{$xs}{
// 					//     justify-content: center;
// 					// }
// 					input {
// 						width: 35px;
// 						color: #232323;
// 						font-size: 20px;
// 						font-weight: 700;
// 						text-align: right;
// 						border: 0;    
// 						outline: 0;
// 						height: initial;
// 						padding: initial;
// 						border-radius: initial;
// 						border: 0;
// 						text-transform: capitalize;
// 						box-shadow:none;
// 					}
// 					span {
// 						padding: 0 30px 0 20px;
// 						color: #232323;
// 						font-size: 20px;
// 						font-weight: 750;
// 					}
// 					button {
// 						color: #232323;
// 						font-size: 25px;
// 						border: 0;
// 						padding: 0;
// 						background-color: transparent;
// 						cursor: pointer;
// 						transition: 0.4s;
// 						&:hover {
// 							color: $theme-color;
// 						}
// 					}
// 				}
// 				.value-specs {
// 					@include flex;
// 					gap: 10px;
		
// 					@include breakpoint (max-sm){
// 						flex-wrap: wrap;
// 					}
		
// 					li {
// 						display: inline-block;
// 						align-items: center;
// 						justify-content: center;
// 						background-color: rgba(182, 24, 23, 0.10);
// 						width: 40px;
// 						height: 40px;
// 						line-height: 40px;
// 						font-size: 14px;
// 						font-weight: 700;
// 						color: $theme-color;
// 						border-radius: 50%;
// 						cursor: pointer;
// 						transition: 0.4s;
// 						text-align: center;
// 						&:hover {
// 							background-color: $theme-color;
// 							color: #fff;
// 						}
// 						&.active {
// 							background-color: $theme-color;
// 							color: #fff;
// 						}
// 					}
// 				}
// 			}
//         }

//         .modal-dialog {
//             max-width: 770px;
//             width: 100%;
//            // background-color: $white;
//             border-radius: 20px;

// 			@include breakpoint (max-md){
// 				width: initial;
// 			}
//         }

		
// 	}
// }

// .btn-light-base {
//     color: $theme-color;
//     border: 0;
//     background: rgba(182, 24, 23, 0.10);
//     &:after {
//         background: #fff;
//     }
//     &:hover {
//         color: #fff;
//         &::after {
//             background: $theme-color;
//         }
//     }
// }

// .pd-top-90 {
//     padding-top: 90px;
// }

// .pd-bottom-70 {
//     padding-bottom: 70px;
// }

// .pd-top-100 {
//     padding-top: 100px;
// }

// .mg-bottom-90 {
//     margin-bottom: 90px;
// }

// .item-loadmore4 {
//     display: none;
// 	cursor: pointer;
// }

// .item-loadmore6 {
//     display: none;
// 	cursor: pointer;
// }

// .color-base {
//     color: $theme-color;
// }


// .slide-v {
// 	width: 50%;
// 	margin: 0 auto;
// 	-moz-user-select: none;
// 	-webkit-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
//   }
  
//   .slide {
// 	padding: 100px 0;
// 	color: white;
// 	background-color: rgb(101, 192, 149);
// 	text-align: center;
// 	font-size: 6rem;
//   }
  
//   .slide:nth-child(2n) {
// 	background: rgb(244, 144, 137);
//   }
  
//   .button-container {
// 	padding-top: 10px; 
// 	width: 50%;
// 	margin: 0 auto;
//   }

// .sticky-style {
// 	position: sticky !important;
// 	top: 150px;
// }

// .sticky-style-2 {
// 	position: sticky !important;
// 	top: 90px;
// }

// .item-loadmore5 {
//     display: none;
// 	cursor: pointer;
// }

// .juestify-end {
// 	justify-content: end !important;
// }

// .pd-bottom-90 {
//     padding-bottom: 90px;
// }

// .w-100 {
//     width: 100% !important;
// }

// .pd-bottom-15 {
//     padding-bottom: 15px;
// }

// .btn-border-gray {
//     color: #686868;
//     border: 0;
//     background: #fff;
//     border: 1px solid #E5E5E5;
//     line-height: 49px;
//     &:after {
//         background: #fff;
//     }
//     &:hover {
//         &::after {
//             background: $theme-color;
//         }
//     }
// }

// .me-10 {
//     margin-right: 10px;
// }

// .btn-gray {
//     background: #F0F0F0;
//     img {
//         transition: 0.4s;
//     }
//     &:hover {
//         background: $theme-color;
//         color: #fff;
//         img {
//             filter: brightness(0.5);
//         }
//     }
//     &.active {
//         background: $theme-color;
//         color: #fff;
//         img {
//             filter: brightness(0.5);
//         }
//     }
// }

// .mg-bottom-20 {
//     margin-bottom: 20px;
// }

// .pd-bottom-100 {
//     padding-bottom: 100px;
// }

// .media {
//     display: flex;
// }

// .btn-small {
// 	height: 43px;
// 	line-height: 43px;
// 	padding: 0 16px;
// 	font-size: 15px;
// }

// .item-loadmore44 {
//     display: none !important;
// 	cursor: pointer;
// }

// .cursor-pointer {
// 	cursor: pointer !important;
// }


// .etol-height-area {
//    height: 100vh;
//   display: flex;
//   flex-direction: column;      /* item gulo upor theke niche jabe */
//   justify-content: center;     /* vertically center korbe */
//   align-items: center;  
// }

@media all and (min-width: 767px){
	body {
		max-width: 700px;
		margin: 0 auto;
	}
}

.custom-container {
  max-width: 320px;
  margin: 0 auto;
}

.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}
.ripple:before {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 58px;
  width: 58px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(182, 24, 31, 0.7);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}
.ripple:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 58px;
  width: 58px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(182, 24, 31, 0.7);
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}

@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}