.hero-1 {
    position: relative;
    padding: 142px 0 0;
    text-align: center;

    .content {
        text-align: center;
        position: relative;

        p {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            color: #222222;
            margin-top: 25px;
        }

        .next-icon {
            display: inline-block;
            width: 58px;
            height: 58px;
            line-height: 58px;
            text-align: center;
            border-radius: 50%;
            background-color: $theme-color;
            color: $white;
            font-size: 20px;
            margin-top: 60px;
            position: relative;

            &:hover {
                background-color: $header-color;
            }
        }
    }

    .restaupant-image {
        margin-top: 100px;
        text-align: center;

        img {
            @include imgw;
        }
    }

    .login-item {
        p {
            color: #222;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            margin-top: 60px;
        }

        form {
            margin-top: 30px;

             .form-clt {
                position: relative;
        
                input {
                    width: 100%;
                    border-radius: 6px;
                    border-radius: 10px;
                    border: 1px solid #E5E5E5;
                    background: #FFF;
                    background: transparent;
                    text-transform: capitalize;
                    padding: 0 20px;
                    height: 55px;
                    line-height: 55px;
                    line-height: 1;
                    color: #686868;
                    font-size: 14px;
                    font-weight: 400;
                    padding-left: 45px;
        
                    &::placeholder {
                        color: #686868;
                    }

                     &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color: #E5E5E5; // or any custom color
                    }
                }
        
                .toggle-password {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    color: #9A9A9A;
                }

                .email-icon {
                    position: absolute;
                    left: 20px;
                    top: 12px;
                }
            }
        }

        .forget-line-item {
            @include flex;
            justify-content: space-between;

            &.style-2 {
                margin-top: 5px;

                .forget-text {
                    color: #686868;
                    font-size: 14px;
                    font-weight: 400;
                }

                .click-text {
                    color: #233862;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .forget-text {
                font-size: 14px;
            }

            .click-text {
                font-size: 14px;
                font-weight: 400;
                color: #E2756D;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .theme-btn {
            height: 55px;
            line-height: 55px;
            background-color: $theme-color;
            width: 100%;
            display: inline-block;
            border-radius: 10px;
            margin-top: 4px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: $white;
            @include transition;

            &:hover {
                background-color: $header-color;
            }
        }
    }
}

.dashboard-main-area {

    &.style-padding {
        padding-bottom: 140px;
    }

    .top-icon {
        margin-bottom: 30px;

        img {
            @include imgw;
        }
    }

    .dashboard-header {
        margin-bottom: 18px;

        h3 {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }

        p {
            color: #686868;
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: 5px;
        }
    }

    .dashboard-image {
        max-width: 550px;
        height: 125px;

        img {
            @include imgw;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    .order-total-list {
        margin-top: 20px;
        margin-bottom: 10px;

        li {
            padding: 13px 15px;
            background-color: #16B968;
            border-radius: 6px;
            @include flex;
            justify-content: space-between;

            &:not(:last-child){
                margin-bottom: 15px;
            }

            .icon-items {
                @include flex;
                gap: 10px;

                p {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }

            h6 {
                color: #FFF;
                font-size: 16px;
                font-weight: 800;
                text-transform: capitalize;
            }

            &:last-child {
                background: #1E92D8;
            }
        }
    }

    .payments-status-items {
        border-radius: 6px;
        background: #F39C12;
        padding: 18px 15px;
        @include flex;
        justify-content: space-between;

        .icon-items {
            @include flex;
            gap: 10px;

            p {
                color: #FFF;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }

    .payments-status-main-wrap {
        border-radius: 0 0 6px 6px;
        background: #FFF0D8;
        .nav {
            @include flex;
            gap: 10px;

            .nav-item {
                .nav-link {
                    display: inline-block;
                    color: #16B968;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: capitalize;
                    line-height: 1;
                    background-color: $white;
                    border-radius: 4px;
                    padding: 11px 14px;

                    &.active {
                        background-color: #16B968;
                        color: $white;
                    }

                    &.style-2 {
                        background-color: $white;
                        color: $theme-color;

                        &.active {
                            background-color: $theme-color;
                            color: $white;
                        }
                    }
                }
            }
        }

        .content {
            padding: 15px;
            text-align: center;

            h6 {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                text-transform: capitalize;
            }

            p {
                color: #16B968;
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;

                &.color-2 {
                    color: $theme-color;
                }
            }
        }
    }

    .new-order-items {
        padding: 13px 15px;
        background-color: #fff;
        box-shadow: 0 4px 40px 0 rgba(182, 24, 23, 0.12);
        border-radius: 6px;
        @include flex;
        justify-content: space-between;
        margin: 15px 0;

        .icon-items {
            @include flex;
            gap: 10px;

            p {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }

        .number {
            background-color: rgba(30, 146, 216, 0.10);
            width: 34px;
            height: 34px;
            line-height: 34px;
            display: inline-block;
            border-radius: 50%;
            text-align: center;
            color: #1E92D8;
            font-size: 14px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .order-type-summery-items {
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 4px 40px 0 rgba(182, 24, 23, 0.12);
        padding: 20px 10px;

        p {
            text-align: center;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 18px;
        }

        .content-box {
            padding: 14px;
            text-align: center;
            border-radius: 6px;
            background: #F2CA34;

            @media screen and (max-width: 415px) {
                padding: 10px;
            }

            @media screen and (max-width: 350px) {
                padding: 9px;
            }

            &.bg-2 {
                background: #1E92D8;
            }

            &.bg-3 {
                background: #B61817;
            }

            span {
                color: #FFF;
                text-align: center;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 700;

                 @media screen and (max-width: 415px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 350px) {
                    font-size: 10px;
                }
            }

            h6 {
                color: #FFF;
                font-size: 14px;
                font-weight: 600;
                text-transform: capitalize;

                @media screen and (max-width: 415px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 350px) {
                    font-size: 10px;
                }
            }
        }
    }

    .table-reservations-items {
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 4px 40px 0 rgba(233, 129, 58, 0.15);
        padding: 15px 12px;
        margin: 15px 0;
        @include flex;
        justify-content: space-between;

        .icon-items {
            @include flex;
            gap: 10px;

            p {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }

        .right-item {
            @include flex;
            gap: 10px;

            .radius-text {
                color: #E9813A;
                font-size: 12px;
                font-weight: 400;
                text-transform: capitalize;
                border-radius: 100px;
                background: rgba(233, 129, 58, 0.10);
                padding: 8px 10px;
                line-height: 1;
            }

            .number {
                color: #E9813A;
                font-size: 16px;
                font-weight: 800;
                text-transform: capitalize;
            }
        }
    }

    .pre-order-list-area {
        border-radius: 10px;
        background: #FFF0F0;
        padding: 15px;

        .pre-order-head {
            @include flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            padding-bottom: 20px;
            margin-bottom: 5px;

            h6 {
                color: #000;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
            }

            .view-btn {
                display: inline-block;
                color: #B61817;
                font-size: 14px;
                font-weight: 400;
                text-decoration-line: underline;
                text-transform: capitalize;
            }
        }
        
        .pre-order-list-head {
            @include flex;
            justify-content: space-between;
            padding: 7px 10px;
            border-radius: 6px 6px 0 0;
            background: #000;

            .chevron-right {
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                background-color: $theme-color;
                color: $white;
                font-size: 9px;
            }
        }

        .pre-order-list-items {
           border-radius: 6px;
            background: #FFF;
            margin-top: 15px;


            .order-text {
                display: -webkit-box;
                align-items: center;
                gap: 10px;

                p {
                    color: #FFF;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: capitalize;
                }

                span {
                    border-radius: 100px;
                    background: #4D9F13;
                    color: #FFF;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 4px 8px;
                    text-transform: capitalize;

                    &.color-2 {
                        background-color: $theme-color;
                    }
                }
            }

            ul {
                li {
                    @include flex;
                    justify-content: space-between;
                    padding: 10px 15px;

                    &:not(:last-child){
                        border-bottom: 1px solid rgba(0, 0, 0, 0.20);;
                    }

                    .left-text {
                        color: #686868;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }

                    .right-text {
                        b {
                            color: #B61817;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: capitalize;
                        }

                        color: #000;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;

                        &.style-2 {
                            color: #B61817;

                            b {
                                color: #686868;
                            }
                        }
                    }
                }
            }
        }
    }

    .menu-top-list-header {
        @include flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .arrow-icon {
            font-size: 20px;

            &:hover {
                color: $theme-color;
            }
        }

        h6 {
            color: #000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .number {
            display: inline-block;
            color: #000;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            width: 28px;
            height: 28px;
            line-height: 28px;
            border-radius: 50%;
            background-color: #FFDA88;
            text-align: center;
        }

        .content {
            p {
                color: #686868;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }   

    .order-numder-item {
        padding: 13px 15px;
        border-radius: 6px 6px 0 0;
        background: #000;
        margin-top: 20px;

        h5 {
            text-align: center;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            text-transform: capitalize;

            b{
                 font-weight: 700;
            }
        }
    }

    .customer-details-info {
        background: #FFF0ED;
        padding: 15px 0;

        .customer-details-wrap {
            @include flex;
            justify-content: space-between;

            .details-left {
                h6 {
                    color: #686868;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                p {
                    color: #686868;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }

            .details-right {
                h6 {
                    color: #B61817;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                p {
                    color: #000;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
    }

    .order-delevery-details-info {
        @include flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);;

        .left-item {
            h6 {
                color: #686868;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                text-transform: capitalize;
            }

            span {
                color: #686868;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }

        .right-item {
            h6 {
                color: #686868;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }

            span {
               color: #B61817;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
    }

    .details-contact-info {
        li {
            @include flex;
            gap: 10px;
            padding: 15px 0;

            &:not(:last-child){
                border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            }

            // &:last-child {
            //      border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            // }

            i {
                color: $theme-color;
            }

            color: #000;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;

            @media screen and (max-width: 400px) {
                font-size: 13px;
            }
        }
    }

    .track-order-btn {
        margin-top: 15px;

        .theme-btn {
            display: inline-block;
            border-radius: 6px;
            background: #B61817;
            padding: 0 25px;
            height: 55px;
            line-height: 55px;
            width: 100%;
            text-align: center;
            color: #FFF;
            font-size: 16px;

            svg {
                margin-right: 10px;
            }

            &:hover {
                background-color: $header-color;
            }
        }
    }

    .invoice {
        background: #fff;
        padding: 15px 0;
        margin: auto;
        border-radius: 5px;

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                padding: 8px 0;
                color: #000;
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }

            th {
                color: #000;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }

            tr:not(:last-child) {
            border-bottom: 1px solid #ddd;
            }

            .right {
            text-align: right;
            }

            td.quantity,
            th.quantity {
            text-align: center;
            vertical-align: middle;
            }

            .total-section td {
            font-weight: bold;
            }

            .discount {
               td {
                    color: #B61817;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: capitalize;
               }
            }

            .grand-total {
                td {
                    color: #000;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
        }
    }

    .decline-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 15px 20px;
    display: flex;
    gap: 10px;
    z-index: 999; 
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);

    .theme-btn {
        border-radius: 6px;
        background: #B61817;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        height: 55px;
        line-height: 55px;
        padding: 0 10px;
        flex: 1; 

        svg {
            margin-right: 8px;
        }

        &.style-2 {
            background: #60AF18;
        }

        &:hover {
            background-color: $header-color;
        }
    }
    }

    .breadcrumb-wrap {
        position: relative;
        z-index: 9;
        border-radius: 10px;
        padding: 25px 15px;

        &::before {
            @include before;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.40);
            z-index: -1;
        }

        h4 {
            text-align: center;
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            text-transform: capitalize;
        }
    }

    .accordion-box {
        position: relative;
        margin-top: 40px;

        .block {
            position: relative;
            background-color: transparent;
            margin-bottom: 10px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0 4px 40px 0 rgba(192, 57, 43, 0.12);
           
            line-height: 1;

            .acc-btn {
                position: relative;
                text-transform: capitalize;
                cursor: pointer;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;
                 padding: 15px 16px;
                 border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0 4px 40px 0 rgba(192, 57, 43, 0.12);

                .acc-head-content {
                    h5 {
                        color: #000;
                        font-size: 15px;
                        font-weight: 700;
                        margin-bottom: 8px;
                    }

                    p {
                        color: #686868;
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

                .acc-right {
                    @include flex;
                    gap: 40px;
                    position: absolute;
                    top: 22px;
                    right: 17px;
                  .switch {
                        position: relative;
                        display: inline-block;
                        width: 29px;
                        height: 17px;
                
                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;
                        }
                
                        .slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: #74B944;
                            transition: 0.4s;
                            border-radius: 34px;
                
                            &::before {
                                position: absolute;
                                content: "";
                                height: 12px;
                                width: 12px;
                                left: 4px;
                                bottom: 2.5px;
                                background-color: white;
                                transition: 0.4s;
                                border-radius: 50%;
                            }
                        }
                
                        input:checked + .slider {
                            background-color: #74B944;
                        }
                    
                        input:checked + .slider:before {
                            transform: translateX(10px);
                        }
                    }
                }

                @include breakpoint (max-xl){
                    font-size: 17px;
                    line-height: 1.5;
                }

                @include breakpoint (max-xxs){
                    font-size: 15px;
                }

                .icon {
                 
                    font-size: 18px;
                    line-height: 18px;
                    color: $header-color;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                }
            }

            .acc-content {
                position: relative;
                display: none;
                background-color: $white;
                 padding: 15px 16px;
                 padding-top: 0;

                .content {
                    position: relative;
                    @include flex;
                    justify-content: space-between;

                    .text {
                        h6 {
                            color: #000;
                            font-size: 15px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }

                        p {
                            color: #686868;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: capitalize;
                            margin-top: 9px;
                        }
                    }

                    .cont-right {
                        @include flex;
                        gap: 17px;

                        span {
                            color: #000;
                            font-size: 16px;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                    }
                }

                .circle-checkbox {
                display: inline-block;
                position: relative;
                padding-left: 30px;
                cursor: pointer;
                user-select: none;
                font-size: 18px;
                }

                .circle-checkbox input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                }

                .circle-checkbox .checkmark {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 20px;
                    width: 20px;
                    background-color: $theme-color;
                    border-radius: 50%;
                    box-sizing: border-box;
                }

                /* Check icon */
                .circle-checkbox input:checked + .checkmark {
                    background-color: $theme-color;;
                    border-color: $theme-color;;
                }

                .circle-checkbox .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                     display: block;
                    left: 7px;
                    top: 2px;
                    width: 6px;
                    height: 12px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }

                /* Show check icon when checked */
                .circle-checkbox input:checked + .checkmark:after {
                    display: block;
                    left: 7px;
                    top: 2px;
                    width: 6px;
                    height: 12px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }

            }
        }
    }

    .accordion-box .block .acc-content.current {
        display: block;
    }

    .accordion-box .block .acc-btn.active .icon:before {
        content: "\f077";
        color: $theme-color;
    }

    .accordion-box .block .acc-btn.active {
        color: $theme-color;
    }

    .accordion-box .block:last-child {
        margin-bottom: 0;
    }
}